<!DOCTYPE html>
<html> 

<head> 
    <meta charset="utf-8"> 
    <title>iamcalebhubert.com</title>
</head>
    <body> 
        {{> header}}
        <h1>About Me</h1>
        <p>I am a born and raised Austinite from the beautiful ATX. I have a wonderful</p>
        <p>family, including 3 brothers (one of which is my identical twin). I am a </p>
        <p>Software Engineer. I love to rock climb, play the drums, play quidditch,</p>
        <p>watch football/basketball, and play OverWatch. </p>
        {{> footer}}
    </body>
</html>