<!DOCTYPE html>
<html> 

<head> 
    <meta charset="utf-8"> 
    <title>iamcalebhubert.com</title>
</head>
    <body> 
        {{> header}}
        <h1>Portfolio</h1>
        <p>
            Recent Projects:
            <li>node-web-server</li>
            <li>node-weather-app</li>
            <li>node-notes-app</li>
        </p>
        {{> footer}}
    </body>
</html>